<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HardwareStore_Zarina.Properties.Settings.HardwareShopConnectionString"
            connectionString="Data Source=LAPTOP-AVLD9A6Q\SQLEXPRESS02;Initial Catalog=HardwareShop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>